
<div class="plitter-images">
  <img ng-src="/social/profilePicture/{{img}}" class="plitter"
      ng-class="{selected: img === $ctrl.mainImageUrl}"
      ng-repeat="img in $ctrl.plitter.photos" />
</div>

<h1>{{$ctrl.plitter.username}}</h1>
<p>{{$ctrl.plitter.email}}</p>
<p>{{$ctrl.plitter.countryName}}</p>
<p>{{$ctrl.plitter.city}}</p>


<ul class="plitter-thumbs">
  <li ng-repeat="img in $ctrl.plitter.photos">
    <img ng-src="/social/profilePicture/{{img}}" ng-click="$ctrl.setImage(img)" />
  </li>
</ul>


 
